body {
    margin: 0;
    padding: 0;
    background: #050505;
    font-family: 'Krub', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5B5B5B;
}


h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Charmonman', cursive;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}



p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}


a {
    color: #5E5E5E;
}

.content-container {
  padding: 2%;
}

#wrapper {
    background: #FFFFFF url(../images/img05.jpg) repeat;
    margin: 0 1%;
}

.container {
    margin: 0px auto;
}

/* Header */

#header-wrapper {
    overflow: hidden;
    margin: 0 2%;
}

#header {
    margin: 0 auto;
    padding: 0px 0px;
}

/* Logo */

#logo {
    float: left;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}


#logo h1 {
    line-height: 120px;
    letter-spacing: -2px;
    font-size: 3em;
}


#logo h1 a {
    color: #1F1F1F;
    text-shadow: 1px 1px 0px #00000033;
}


#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #000000;
}

/* Menu */

#menu {
  display: none;
}


.hamburger {
    background: none;
    position: absolute;
    top: 40px;
    right: 12px;
    line-height: 35px;
    padding: 5px 15px 0px 13px;
    color: #000000;
    border: 0;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}


/* Page */

#page {
    margin: 0 auto;
    padding: 30px 0px;
}

/* Content */

#content {
    padding: 0px 0px 0px 0px;
}

#banner .content img {
  width: 100%;

}

.post {
    overflow: hidden;
    margin-bottom: 40px;
    border-bottom: 1px solid #E7EBED;
}

.post .title {
    padding: 7px 0px 0px 0px;
    letter-spacing: -1px;
}

.post .title a {
    border: none;
    text-decoration: none;
    color: #222222;
}

.post .meta {
    margin-bottom: 30px;
    padding: 10px 0px 0px 0px;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .meta a {
}

.post .entry {
    padding: 0px 0px 40px 0px;
    text-align: justify;
    font-size: .75rem;
}

.entry img {
    width: 100%;
    max-width: 664px;
}

.links {
    padding-top: 20px;
    margin-bottom: 30px;
}

.more {
    display: block;
    float: left;
    width: 88px;
    padding: 5px 5px;
    margin-right: 10px;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.comments {
    display: block;
    float: left;
    width: 88px;
    padding: 5px 5px;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */

#sidebar {
    margin: 0px;
    padding: 30px 0px 0px 0px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0px 0px;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 40px;
    border-bottom: 1px solid #E7EBED;
    margin: 0px 0px;
    border-left: none;
}

#sidebar li li a {
    padding: 0px 0px 0px 20px;
    background: url(../images/img04.jpg) no-repeat left 50%;
}

#sidebar h2 {
    height: 38px;
    padding: 20px 0px 0px 0px;
    letter-spacing: -.5px;
    font-size: 1.8em;
    color: #222222;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}


/* Footer */

#footer {
    height: 140px;
    margin: 0 auto;
    padding: 50px 0 15px 0;
    font-family: 'Abel', sans-serif;
}

#footer p {
    margin: 0;
    padding-top: 10px;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #5E5E5E;
}


#banner {
    margin: 0px auto;
    height: 340px;
    background: url(../images/img03.png) no-repeat left bottom;
}

#banner .content {
}

/*START MIN WIDTH 1015PX MEDIA QUERY*/

@media (min-width: 700px) {

  .content-container {
      max-width: 660px;
      margin: auto;
  }
}


@media (min-width:1015px){


.container{
    width: 1000px;
}


.content-container {
    max-width: 1050px;

}

#header {
    width: 1000px;
}

.hamburger, .cross, .menu {
  display: none;
}

#menu {
    display: block;
    float: right;
    width: 500px;
    height: 90px;
    margin: 0 auto;
    padding: 0;
}

#menu ul {
    float: right;
    margin: 0;
    padding: 20px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    line-height: 100px;
    margin-right: 1px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #00000033;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #1F1F1F;
    border: none;
}

#menu a:hover, #menu .current_page_item a {
    background: url(../images/img01.jpg) repeat;
    text-decoration: none;
    color: #FFFFFF;
}

#menu .current_page_item a {
  font-size: 1rem;
}

#page {
    width: 1000px;
}

#content {
      width: 660px;
      float: right;
}

.entry img {
    width: 400px;
    float: right;
    padding: 0 0 0 20px;
}
#banner {
      width: 1000px;
}

#sidebar {
    float: left;
    width: 270px;
    padding-left: 49px;
}

}
/*END MIN WIDTH 1015PX MEDIA QUERY*/
